<h1>PERSONAL SCHOLARSHIP ESSAY <br> INTRODUCTION PARAGRAPH <br> TEMPLATE</h1>    

    <div>
        <p data-bind="text: question"></p>
    </div>
    
     <div id = "divintroparagraph">
         
            <textarea id="sentencebox" type="text" data-bind="value: sentence,         visible: ! printparagraph ()">
            </textarea>
         
         <button data-bind="click: connect">
             NEXT!
         </button>
       
      
    </div>
    
    <textarea id="intro" data-bind="value: results, visible: printparagraph">
    </textarea>

    <div id="divexampleparagraph">
        <p id="exampleparagraph" data-bind="visible: printparagraph">
            Example: I founded a public speaking after-school program for middle schoolers in East St. Louis, MO. <br> 
            I had to demonstrate strong oratorical abilities to lead by example. In addition, maintaining a respectful, productive classroom required social intelligence and constructive discipine skills, which are valuable leadership skills. <br> 
            I plan to become a lawyer. The ability to mentor others and deliver a clear, persuasive message will help me achieve this career. <br>
            This experience showed that I am compassionate for the next generation. 
        </p>
    </div>

    <div>
        <p data-bind="text: example"></p>
    </div>